<div class="video-section">
	<%= video_tag(["charity.mp4"], autoplay: true, loop: true) %>
	<div class="section-content container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h1 class="text-center">Giving, but convenient.</h1><br>
				<%= form_tag charities_path, method: :get, class: "form-group search-form" do %>
					<i class='fa fa-search'></i>
				  <%= text_field_tag(
			      :search,
			      params[:search],
			      placeholder: "",
			      class: "form-search search",
						id: "search-bar"
				  ) %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<section class="container">
	<div class="row">
		<div class="col-md-4">
			<h3 class="text-center">Heading</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis nesciunt error doloribus aliquam temporibus dicta quam odit sint sit autem laudantium neque modi nulla, delectus qui asperiores commodi, quaerat, eos molestiae velit. Inventore voluptates ratione vero nostrum reprehenderit exercitationem expedita magnam, incidunt assumenda libero necessitatibus tempore molestiae fugiat odio sit.</p>
		</div>
		<div class="col-md-4">
			<h3 class="text-center">Heading</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolore dicta dignissimos numquam suscipit quas a sequi, dolorum, in placeat voluptatem modi labore explicabo tempora eum asperiores. Optio ipsum reiciendis distinctio, iure sed ducimus, rem tempore voluptatibus, dicta quod quisquam aliquam, perferendis praesentium quaerat excepturi beatae? Non pariatur consectetur, reprehenderit.</p>
		</div>
		<div class="col-md-4">
			<h3 class="text-center">Heading</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quam aperiam animi dolorem autem perferendis itaque in quo laboriosam, sit, veritatis, optio sed laborum officia, quos atque fugit quidem inventore error. Culpa commodi enim quos facilis, quaerat molestias autem, hic laudantium veritatis ipsam dolorum libero distinctio nam eos totam laborum?</p>
		</div>
	</div>
</section>
