<div class="modal fade" id="allGiversModal" tabindex="-1" role="dialog" aria-labelledby="allGiversModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="allGiversModalLabel">All Givers (or could be where the tabs go?</h4>
      </div>

      <div class="modal-body">
          3 givers partials rendered to modal of each giver type
          <%= render partial: 'manager/partials/followers'%>
          <%= render partial: 'manager/partials/donors'%>
          <%= render partial: 'manager/partials/volunteers'%>
      </div>

      <div class="modal-footer">
         might not need a footer, or could be where "email" buttons are
      </div>

    </div>
  </div>
</div>
