<%= render partial: 'partials/charity_hero', locals: { charity: @charity } %>

<div class="container">
  <%= render partial: 'partials/need_details', locals: { charity: @charity, donation: @donation, need: @need, giver: @giver, registration: @registration } %>
</div>
