<h1>Manager's view of Giver Page</h1>

<ul>
<li><%= @giver.first_name %> <%= @giver.last_name %>'s normal details! (Probably styled similarly to the givers view of their own profile page</li>
<li>hi chart opportunity! style an individual's metrics similar to the aggregate metrics on the manager dashboard </li>
<li>cool mvp+ feature: click on email address to trigger a mailer and email giver</li>
</ul>

<div>
  <%= link_to '< back to givers index', manager_charity_givers_path(@charity) %>
</div>
