<h1>Manager's view of Giver Page</h1>

<ul>
<li><%= @giver.first_name %> <%= @giver.last_name %>'s details!</li>
<li>Maybe a good place to interact like contact giver, or approve hours, etc.</li>
</ul>
