<h1>Manager Dashboard: Show <%=@need.name%> Need Page</h1>

<li>Status: <%= @need.status %></li>

<li>Description: <%= @need.description %></li>

<li>Quantity Needed: <%= @need.quantity_needed %></li>
