<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 text-center"><%= @charity.name %></h1>
    <p class="lead text-center"><%= @charity.address[0] %></p>
    <%= image_tag("https://theafterhoursflowers.com/wp-content/uploads/2013/10/Teddy-Bear-300x300.jpg", size: "100x100", alt: "cute teddy bear waving", class: 'img-circle center-block') %>
  </div>
</div>
