<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 text-center"><%= @charity.name %></h1>
    <p class="lead text-center"><%= @charity.address[0] %></p>
    <%= image_tag(@charity.image_url, size: "150x150", alt: "cute teddy bear waving", class: 'img-circle center-block') %>
  </div>
</div>
