<div class="panel-heading">
	<h2 class="text-center">Upcoming Events:</h2>
</div>
<div class="panel-body">
	<div class="list-group text-center">
		<% charity.events.each do |event| %>
	    <a href="<%= charity_event_path(charity, event)%>" class="list-group-item list-group-item-action">
	    	<h5 class="list-group-item-heading"><%= event.name %></h5>
	    	<p class="list-group-item-text"><%= event.description %></p>
	    </a>
	  <% end %>
	</div>
</div>
