<h2 class="text-center">Upcoming Events:</h2>
<div class="col-xs-12">
	<ul class="list-group text-center">
		<% charity.events.each do |event| %>
	    <li class="list-group-item"><%= link_to "#{event.name}", charity_event_path(charity, event) %></li>
	  <% end %>
	</ul>
</div>