<div class="col-xs-12">
  <% if @giver %>

    <% if @giver.followed_charities.include?(@charity) %>
        <%= link_to 'Unfollow Charity', charity_subscription_path(@charity, subscription), method: 'delete', class: 'btn btn-danger btn-block' %>
    <% else %>
      <%= link_to 'Follow Charity', charity_subscriptions_path(@charity), method: 'post', class: 'btn btn-primary btn-block' %>
    <% end %>

  <% else %>
      <%= link_to "Follow Charity", giver_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-block' %>
  <% end %>

</div>
