<footer class="footer-basic-centered">
	<p class="footer-company-motto">Give.Locally.</p>
	<p class="footer-links">
		<%= link_to "Home", root_path %>
		·
		<%= link_to "About" %>
		·
		<%= link_to "Contact" %>
		·
		<%= link_to "Login" %>
	</p>
	<p class="footer-company-name">KarmaBear &copy; 2016</p>
</footer>