<div class="panel-heading">
	<h2 class="text-center">Needs:</h2>
</div>

<div class="panel-body">
	<ul class="list-group text-center">
  <% charity.needs.each do |need| %>
  	<a href="<%= charity_need_path(charity, need)%>" class="list-group-item list-group-item-action">
    	<h5 class="list-group-item-heading"><%= need.name %></h5>
    	<p class="list-group-item-text"><%= need.description %></p>
    </a>
  <% end %>
  </ul>
</div>
