<div class="card text-center">

  <div class="card-block">
    <h2 class="card-title"><%= @need.name %></h2>
    <p class="card-text"><%= @need.description %></p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Quantity Needed: <%= @need.quantity_needed %></li>
  </ul>

  <div class="card-block">
    <% if @giver %>

      <% if @giver.donations.include?(@donation) %>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editDonationModal">Edit Donation</button>

        <%= link_to 'Cancel Donation', charity_need_donation_path(@charity, @need, @donation), method: 'delete', class: 'btn btn-danger btn-block' %>

      <% else %>
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#newDonationModal"><i class="fa fa-plus"></i> Donate</button>
      <% end %>

    <% else %>
      <a href="/givers/auth/facebook" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Donate</a>

    <% end %>

  </div>

</div>
