<a class="notification list-group-item list-group-item-action list-group-item-warning">
  <%= notification.giver.first_name %>
  <%= notification.giver.last_name %> is bringing
  <%= donation.quantity_pending %>
  <%= need.name.downcase %></br>
</a>
