<a class="notification list-group-item list-group-item-action list-group-item-danger">
  <%= notification.giver.first_name %>
  <%= notification.giver.last_name %> is no longer following
  <%= notification.manager.charity.name %></br>
</a>
