<a class="notification list-group-item list-group-item-action list-group-item-info">
  <%= notification.giver.first_name %>
  <%= notification.giver.last_name %> is volunteering for
  <%= registration.pending_hours %> hours at the
  <%= event.name.downcase %></br>
</a>
