<%= render partial: 'partials/charity_hero', locals: { charity: @charity } %>

<div class="container">

  <%= render partial: 'partials/event_details' %>

</div>

<!-- render modal partials -->
<%= render partial: 'modals/edit_registration' %>
<%= render partial: 'modals/new_registration' %>
