<%= render partial: 'partials/charity_hero', locals: { charity: @charity } %>

<div class="container">

  <%= render partial: 'partials/event_details', locals: { charity: @charity, event: @event, giver: @giver, registration: @registration } %>

</div>

<!-- modals/edit_reg -->

<!-- modals/new_reg -->
