<%= render partial: 'partials/charity_hero', locals: { charity: @charity } %>

<div class="container">

  <%= render partial: 'partials/event_details', locals: { charity: @charity, event: @event, giver: @giver, registration: @registration } %>

</div>

<!-- if user signed in and registered:
  display: update: trigger modal for registration edit form
  display: cancel button: hit destroy route
-->
 <!-- if user signed in and not registered:
  display: participate button: trigger modal for registration form
-->
 <!-- if user not signed in:
  display: participate button: trigger facebook oath
-->
