<div class="container" align="center">
	<h1>Dashboard for <%=@charity.name%></h1>
	<p>Managed by <%=@charity.manager.username%></p>

	<div class="metrics-container">
		This is where some fancy charts will be...
	</div>

	<div class="givers-container">
		This is where the list of giver activity goes...
	</div>

	<div class="events-container">
		This is where the list of my events will be...
	</div>
</div>