// Place all the styles related to the manager/charities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
  margin-top: 0;
}

.man-dash-top-btn {
  background-color: rgba(46, 5, 109, 0.72);
  border-color: rgba(46, 5, 109, 0.72);
  color: white;
}

.man-dash-top-btn:hover {
  background-color: rgba(46, 5, 109, 0.72);
  border-color: rgba(46, 5, 109, 0.72);
  color: white;
}

.man-dash-top-btn:active {
  background-color: rgba(46, 5, 109, 0.72);
  border-color: rgba(46, 5, 109, 0.72);
  color: white;
}

.approve-btn {
  background-color: rgba(76, 174, 76, 0.83);
  border-color: rgba(76, 174, 76, 0.83);
  color: white;
}

.approve-btn:active {
  background-color: rgba(76, 174, 76, 0.83);
  border-color: rgba(76, 174, 76, 0.83);
  color: white;
}

.deny-btn {
  background-color: rgba(217, 83, 79, 0.91);
  border-color: rgba(217, 83, 79, 0.91);
  color: white;
}

.deny-btn:active {
  background-color: rgba(217, 83, 79, 0.91);
  border-color: rgba(76, 174, 76, 0.83);
  color: white;
}
