<h1>Charities</h1>

<div class="col-md-8">
	<div id="map" style="height: 700px"></div>
</div>

<div class="col-md-2">
	<%= render partial: 'partials/searchresults' %>
</div>


<script>
</script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9UVAh5qbkBDuvYU8EMSwWR6L9uM9Nurg&callback=initMap">
    </script>


<!--add link to redirect to specific charity  -->
