<%= render partial: 'partials/charity_hero', locals: { charity: @charity } %>

<section class="container">

  <div class="row">
    <%= render partial: 'partials/follow_charity' %>
  </div>

  <div class="row">
    <%= render partial: 'partials/events_list', locals: { charity: @charity } %>
  </div>

  <div class="row">
    <%= render partial: 'partials/needs_list', locals: { charity: @charity } %>
  </div>

</section>