<%= render partial: 'partials/charity_hero' %>

<section class="container">

  <div class="row">
  	<div class="col-sm-6">
	    <%= render partial: 'partials/events_list', locals: { charity: @charity } %>
   	</div>
   	<div class="col-sm-6">
	    <%= render partial: 'partials/needs_list', locals: { charity: @charity } %>
   	</div>
  </div>

</section>