<% if @donations.empty? %>
  no donations
<% else %>
  <% @donations.each do |donation| %>
    <p>
      <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target=<%= "#donationApprovalModal#{donation.id}" %>><strong>Approve</strong> - <%= donation.need.name %> given by <%= donation.giver.username %> </button>
    </p>
    <%= render partial: 'manager/modals/approve_donation', locals: { donation: donation} %>
  <% end %>
<% end %>
