<% if @donations.empty? %>
  no donations
<% else %>
  <ul>
    <% @donations.each do |donation| %>
      <li>
        <%= donation.need.name %> Given By <%= donation.giver.username %> |
          <%= link_to 'trigger donation#show modal', manager_charity_need_donation_path(@charity, donation.need, donation) %>
      </li>
    <% end %>
  </ul>
<% end %>
