<% if @events.empty? %>
  no events
<% else %>
  <% @events.each do |event| %>
    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target=<%= "#viewEventModal#{event.id}" %>><%= event.name %></button></p>
    <%= render partial: 'manager/modals/view_event', locals: { event: event } %>
  <% end %>
<% end %>
