  <% if @registrations.empty? %>
    no registrations
  <% else %>
    <% @registrations.each do |registration| %>
      <p>
        <button type="button" class="btn man-dash-top-btn btn-block" data-toggle="modal" data-target=<%= "#regisApprovalModal#{registration.id}" %>><%= registration.giver.username %> volunteered for <%= registration.event.name %></button>
      </p>
      <%= render partial: 'manager/modals/approve_registration', locals: { registration: registration} %>
    <% end %>
  <% end %>
