  <% if @registrations.empty? %>
    no registrations
  <% else %>
    <% @registrations.each do |registration| %>
      <p>
        <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target=<%= "#regisApprovalModal#{registration.id}" %>><strong>Approve</strong> - <em><%= registration.giver.username %> volunteered for <%= registration.event.name %></em></button>
      </p>
      <%= render partial: 'manager/modals/approve_registration', locals: { registration: registration} %>
    <% end %>
  <% end %>
