  <% if @registrations.empty? %>
    no registrations
  <% else %>
    <ul>
      <% @registrations.each do |registration| %>
        <li>
          <%= registration.giver.username %> volunteered for <%= registration.event.name %>
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#regisApprovalModal">Approve/Deny</button>

          <%= render partial: 'manager/modals/approve_registration', locals: { registration: registration} %>
        </li>
      <% end %>
    </ul>
  <% end %>
