<br>
<ul>
  <% @volunteers[0...5].each do |volunteer| %>
    <p>
        <button type="button" class="btn man-dash-top-btn btn-block" data-toggle="modal" data-target=<%= "#viewVolunteerModal#{volunteer.id}" %>><%= volunteer.first_name %> <%= volunteer.last_name %></button>
    </p>
      <%= render partial: 'manager/modals/view_volunteer', locals: { volunteer: volunteer } %>
  <% end %>
</ul>
