/* navbar */
nav.navbar {
	margin-bottom: 0;
}

a.navbar-brand > img {
  display: inline;
}

nav.navbar-default .navbar-brand,
nav.navbar-default .navbar-nav > li > a {
  color: #3d1550;
}

/* video & video-section*/
.video-section {
	position: relative;
}

.video-section video {
	width: 100%;
}

video {
	object-fit: contain;
}

.video-section .section-content {
	position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.video-section .section-content,
.section-content small {
	color: #fff;
}

.video-section h1 {
	color: #DB70DB;
}

/* scrolling functionality */
div.scroll-section {
	height: 300px;
	overflow-y: scroll;
}

div.charity-show-scroll {
	height: 700px;
	overflow-y: scroll;
}

/* charity and user show */

div.charity-user-hero,
div.charity-show-hero {
	background: url(/images/charity-user-show.jpg) top center no-repeat;
	background-size: cover;
}

div.charity-show-hero {
	height: 550px;
}

div.charity-user-hero {
	height: 300px;
}

div.charity-show-hero h1 {
	margin-top: 90px;
}

div.charity-user-hero h1 {
	margin-top: 90px;
}

/* footer */

.footer-basic-centered {
	background-color: #f8f8f8;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
}

.footer-basic-centered .footer-company-motto {
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name {
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links {
	list-style: none;
	font-weight: bold;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a {
	display: inline-block;
}

/* media queries */

@media screen and (min-width: 525px) {
	.video-section .section-content {
	  bottom: 150px;
	}
}

@media screen and (min-width: 700px) {
	.video-section .section-content {
	  bottom: 175px;
	}
}

@media screen and (min-width: 1024px) {
	.video-section .section-content {
	  bottom: 250px;
	}
	.video-section h1 {
		font-size: 3em;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 1200px) {
	.video-section .section-content {
	  bottom: 300px;
	}
	.video-section h1 {
		font-size: 4em;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.video-section .section-content {
	  bottom: 400px;
	}
	.video-section h1 {
		font-size: 4em;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 1600px) {
	.video-section .section-content {
	  bottom: 400px;
	}
	.video-section h1 {
		font-size: 5em;
		margin-bottom: 40px;
	}
}

@media screen and (min-width: 1600px) {
	.video-section .section-content {
	  bottom: 450px;
	}
	.video-section h1 {
		font-size: 4.5em;
		margin-bottom: 60px;
	}
}

@media screen and (min-width: 2000px) {
	.video-section .section-content {
	  bottom: 600px;
	}
	.video-section h1 {
		font-size: 5em;
		margin-bottom: 80px;
	}
}