/* navbar */

nav.navbar {
	margin-bottom: 0;
}

a.navbar-brand > img {
  display: inline;
}

nav.navbar-default .navbar-brand,
nav.navbar-default .navbar-nav > li > a {
  color: #3d1550;
}
/* video */
.video-section {
	position: relative;
}

.video-section video {
	width: 100%;
}

video {
	object-fit: contain;
}

.video-section .section-content {
	position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.video-section .section-content,
.section-content small {
	color: #fff;
}

div.scroll-section {
	height: 300px;
	overflow-y: scroll;
}

/* footer */

.footer-basic-centered {
	background-color: #f8f8f8;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
}

.footer-basic-centered .footer-company-motto {
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name {
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links {
	list-style: none;
	font-weight: bold;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a {
	display: inline-block;
}

/* media queries */

@media screen and (min-width: 768px) {
	.video-section .section-content {
	  bottom: 200px;
	}
}

@media screen and (min-width: 1024px) {
	.video-section .section-content {
	  bottom: 250px;
	}
}

@media screen and (min-width: 1200px) {
	.video-section .section-content {
	  bottom: 425px;
	}
}