@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Fauna+One|Quicksand|Reem+Kufi');

body {
  // font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

#search-bar{
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  box-shadow: none;
}
.search-form {
  display: flex;
}
.fa-search {
  padding-top: 12px;
  font-size: 1.75em;
  margin-left: 10px;
}
.form-search {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 40px;
  line-height: 1.42857143;
  color: white;
  font-size: 2.2em;
  box-shadow: none;
  border: none;
}
.form-search:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

@media screen and (max-width: 768px) {
  .form-search {
    width: 80%;
  }
}
