// .follow {
//   color: #6AAF6A;
// }
// .unfollow {
//   color: salmon;
// }
// .donate {
//   color: #7647a2;
// }
// .volunteer {
//   color: #ffa700;
// }
// .notification {
//   border-top: 1px solid #eeeeee;
//   border-right: 1px solid #eeeeee;
//   height: 30px;
// }
.notifications {
  width: 100%;
  height: 1000px;
  overflow: scroll;
}
